.background {
  background-color: #F5F3FA;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.header {
  display: flex;
  margin-top: auto; 
  margin-top: 0rem; 
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  gap: 1.5rem; 
}

.paddingThing {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
}

.navIcon {
  width: 8%;
  color: gray;
  margin-top: 0.2rem;
}

.sidebarNavItems {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray;
  margin-bottom: 0.75rem;
} 
.sidebarNavItems:hover {
  background-color: bisque;
  padding-left: 2.5rem;
  padding-right: 2.5rem; 
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition-property: all;
  scale: 125%;
  color: white;
}

.activeSidebarNavItem {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  padding-left: 2.5rem;
  padding-right: 2.5rem; 
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
  margin-bottom: 0.75rem;
  background-color: bisque;
}

.thing1 {
  width: 25%;
}

.thing2 {
  width: 75%; 
}

.card {
  padding: 1rem; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0.775rem; 
  box-shadow: 0 10px 15px -3px rgba(120, 112, 112, 0.141), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.profileCard {
  padding: 0rem; 
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 10px 15px -3px rgba(120, 112, 112, 0.141), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.profileContentsWrapper {
  position: relative;
}

.profileContents {
  padding: 1rem;
  margin-left: 0.25rem;
  padding-bottom: 1rem; 
}

.profileCoverImage {
  display: flex; 
  overflow: hidden; 
  align-items: center; 
  height: 15rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.profilePicWrapper {
  position: absolute;
  left: 2rem; 
  top: 10rem; 
}

.profileName {
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
  margin-top: 2rem;
}

.profileContentsText {
  margin-left: 5rem;
}

.profileLocation {
  color: #6B7280; 
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.profileTabLinks {
  margin-top: 2.5rem;
}

.profileTabLinksItems {
  margin-top: 0.75rem;
}

.postAdditions {
  display: flex;
  padding-left: 0.25rem;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.postAdditionButton {
  padding-left: 1rem;
  padding-right: 1rem; 
  border-radius: 0.375rem;
  transition-property: all;
  align-items: center;
}

.postAdditionButtonIcons {
  display: flex;
  color:cadetblue;
  margin-left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem; 
  align-items: center;
  margin-top: -0.25rem;
}