.postContentsBoxTop {
    display: flex;
    gap: 0.75rem;
}
  
.postContentsAuthor {
    font-weight: 600;
    cursor: pointer; 
}
.postContentsAuthor:hover {
    text-decoration: underline; 
}

.avatarPointer {
    cursor: pointer;
}
  
.postContentsPostLink {
    color: blueviolet;
}
  
.postContentsTimeAgo {
    color: #6B7280; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.postContentsPostText {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
}

.postContentsImage {
    overflow: hidden; 
    border-radius: 0.375rem; 
}

.postActionsButtonsWrapper {
    display: flex; 
    margin-top: 1.25rem; 
    gap: 2rem; 
}

.postActionButtonsIcons {
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
}

.postCommentSectionWrapper {
    display: flex;
    margin-top: 1rem; 
    gap: 0.75rem;
}

.postCommentSectionContentWrapper {
    border-width: 1px;
    width: 100%;
    border-radius: 18px;
    position: relative; 
}

.postCommentSectionTextArea {
    padding: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    height: 3rem; 
    overflow: hidden;
    display: block;
    width: 100%;
}

.thing1 {
    width: 89%;
}

.postCommentSectionButton {
    position: absolute;
    top: 0.75rem; 
    right: 0.75rem;
    color: #9CA3AF;
}

.postMetaButton {
    color: #9CA3AF;   
}

.dropDownWrapper {
    position: relative;
    width: 100%;
}

.dropDownWrapperInner {
    position: absolute;
    right: 0;
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    border-radius: 12px;
    padding: 0.75rem;
    border-color: #F3F4F6;
    width: 13rem;
}

.dropDownIconWrapper {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    gap: 0.5rem;
    /*background-color: bisque;
    padding-left: 2.5rem;
    padding-right: 2.5rem; 
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition-property: all;
    scale: 125%;
    color: white;*/
}

.dropDownIcon {
    margin-top: 0.25rem;
}