/* FishIcon CSS Styles */

.fish-icon {
    fill: none;
    stroke: #4ABDFE;
    stroke-width: 2;
  }
  
  .fish-body {
    fill: #4ABDFE;
    stroke: #3498DB;
    stroke-width: 2;
  }
  
  .fish-tail {
    fill: #4ABDFE;
    stroke: #3498DB;
    stroke-width: 2;
  }
  
  .fish-fin {
    fill: none;
    stroke: #3498DB;
    stroke-width: 2;
  }
  
  .fish-eye {
    fill: #ffffff;
    stroke: #4ABDFE;
    stroke-width: 1;
  }
  
  .fish-pupil {
    fill: #000000;
  }
  