.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}